{{ $platform := (.Get "platform")}}
<ul class="inspec-resources-list">
  {{ range $index, $element := (where site.RegularPages "Section" "eq" "inspec") }}

    {{ if hasPrefix .RelPermalink "/inspec/resources"}}
      {{ if eq .Params.platform $platform }}
        <li class="inspec-resource">
          <a href="{{ .RelPermalink }}">{{.Title}}</a>
          {{ with .Params.title_append }}
            <p><i>{{.}}</i></p>
          {{- end -}}
        </li>
      {{ end }}
    {{ end }}

{{ end }}
</ul>
